/* general styles */
.input-group .form-control {
   margin-bottom: 10px;
}
.hp-background {
   background: url("../img/home-background.jpg") no-repeat center center fixed;
}
.clear-background {
   background-color: #f5f8fa;
}
.default-pos {
   position: static;
}
.zero-padding {
   padding: 0px;
}
form {
   margin-bottom: 0px;
}
.inline {
   display: inline-block;
}
.grey-text {
   color: #999999;
}
.small-text {
   font-size: 12px;
}
.follow-btn {
   float: right;
   height: 25px;
   padding: 0 6px;
}


/* header styles */
.header-icon {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
}
.header-icon {
   background: url("../img/lime-small.png") no-repeat center;
   background-size: 30px;
   height: 30px;
   margin-top: 10px;
   position: relative;
}
.header-right-components {
   width: 380px;
   float: right;
   text-align: right;
}
.header-right-components .input-group {
   vertical-align: middle;
   margin-left: 5px;
}
.header-right-components .input-group .form-control {
   margin-bottom: 0px;
   height:30px;
   width: 170px;
}
.header-right-components .input-group .input-group-btn {
   width: inherit;
}
.header-right-components .input-group .input-group-btn .btn {
   margin-bottom: 0px;
   height:30px;
   padding: 0 6px;
}
.users-search-btn {
   height: 25px;
   padding: 0 14px;
}
.header-right-components .input-group .btn {
   margin-bottom: 0px;
   height:30px;
   padding: 0 6px;
}



/* Homepage styles */
.front-wrapper {
   width: 100%;
}
.front-block {
   max-width: 900px;
   margin: 0 auto;
   color: white;
}
.front-welcome p {
   font-size: 20px;
   line-height: 31px;
}
.front-login {
}
.front-login .login-box {
   border-radius: 5px;
   padding: 10px;
   background-color: white;
   color: black;
}   
.front-login .signup-box {
   border-radius: 5px;
   padding: 5px 10px 10px 10px;
   background-color: white;
   color: black;
}
.front-login .input-group {
   width: 100%;
}
.front-login form {
   margin-bottom: 5px;
}
.front-login .input-group .form-control {
   font-size: 14px;
   height: 32px;
   border-radius: 5px !important;
   margin: 3px 0;
}
.front-login .input-group .btn {
   font-size: 14px;
   height: 32px;
   width: 100%;
   margin: 3px 0;
}
.front-login .forgot-text {
   color: gray;
}
.spacer {
   padding: 10px;
}


/* Feed styles */
.feed-wrapper {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}
.tweets-panel .input-group {
   width: 100%;
}
.tweets-panel .input-group #new-tweet {
   resize: none;
}
.tweets-panel .input-group .tweet-btn {
   padding-left: 10px;
   overflow: hidden;
}
.tweets-panel .input-group .tweet-btn #tweet-btn {
   padding: 5px;
   max-width: 100%;
   width: 65%;
   float: right; 
}
.tweets-panel .input-group .char-count {
   text-align: right;
   vertical-align: middle;
   height: 34px;
   line-height: 34px;
   padding-right: 0px;
   display: inline-block;
   width: 25%;
}
.tweets-panel .tweet-submit {
   display: none;
}
.tweets-panel .tweet-body {
   border-bottom: 1px solid #ddd;
   padding: 15px;
   margin: 0px;
}
.bleet-avatar-wrapper {
   display: inline-block;
   vertical-align: middle;
   width: 11%;
   padding-right: 1%;
}
.bleet-avatar {
   width: 100%;
   padding-right: 5px;
}
.bleet-text {
   display: inline-block;
   vertical-align: middle;
   width: 84%;
}
.summary-avatar {
   width: 100%;
}
.profile-avatar {
   display: inline-block;
   vertical-align: middle;
   width: 35%;
   padding-right: 1%;
}

/* search page styles */
.search-avatar-wrapper {
   display: inline-block;
   vertical-align: middle;
   width: 20%;
   padding-right: 1%;
}
.search-avatar-text {
   vertical-align: middle;
   display: inline-block;
}

/* accounts page styles */
.settings-inputs {
   display: inline-block;
   width: 60%;
}
.settings-control-label {
   width: 35%;
   text-align: right;
   float: left;
   vertical-align: middle;
   height: 34px;
   line-height: 34px;
   padding-right: 10px;
}
.settings-input-group {
   display: block;
}
.settings-bg_pic {
   width: 60%;
}
.public-profile-avatar {
   display: block;
   vertical-align: middle;
   width: 100%;
}

/* public user page styles */
/* ... */

