<div class="tweet-collection">
   {% for row in myFeed %}
   <div class="tweet-body-selector">
      <div class="panel-body tweet-body row">
         <div class="bleet-avatar-wrapper">
            <img class="bleet-avatar" src="{{ row|profile_pic }}">
         </div>
         <div class="bleet-text">
            <a href="?page=user_page&user={{ row|username }}"><b>{{ row|full_name }}</b></a> <span class="grey-text">@{{ row|username }} | {{ row|time }}</span><br>
            <input type="hidden" name="bleat_id" id="bleat_id" value="{{ row|bleat_id }}">
            {{ row|bleat }}
            <br>
            <span class="grey-text">
            {% if row|hasLocation %}
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            {% endif %}
            {% if row|files %}
            {% if row|media_type == "images" %}
            <span class="glyphicon glyphicon glyphicon-picture" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon glyphicon-film" aria-hidden="true"></span>
            {% endif %}
            {{ row|files }}
            {% endif %}
            {% if row|in_reply_to %}
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;In Reply to...
            {% endif %}
            </span>
         </div>
      </div>
   </div>
   {% endfor %}
</div>

