<html>
<head><title>Bitter</title></head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<body class="clear-background">

{% include (loggedin_header.html) %}

<div class="feed-wrapper row">
   <div class="feed-trends col-md-3">
      {% include (profile_summary.html) %}
      <div class="panel panel-default trends-panel">
         <div class="panel-heading">
            <h3 class="panel-title">Trends</h3>
         </div>
         <div class="panel-body">
            John Smith <br>
            Tweets: <br>
            Following: <br>
         </div>
      </div>
   </div>
   <div class="feed-tweets col-md-6">
      <div class="panel panel-default suggestions-panel">
         <div class="panel-heading">
            <h3 class="panel-title">Users which match your results
            <a href="?page=user_search&search-txt={{ searchString }}&user-search=submit"><button class="btn btn-primary users-search-btn" name="users-search-btn" id="users-search-btn" value="submit">View All</button></h3></a>
         </div>
         <div class="panel-body">
            {% include (list_users.html) %}
         </div>
      </div>
      <div class="panel panel-default tweets-panel">
         <div class="panel-heading">
            <h3 class="panel-title">Matching tweets
         </div>

         <div class="feed-pagination">
            <a href="?search-txt={{ searchString }}&main-search=submit&num={{ prev_page }}"><button class="btn btn-primary" name="feed-prev" id="feed-prev">Prev</button></a>
            <a href="?search-txt={{ searchString }}&main-search=submit&num={{ next_page }}"><button class="btn btn-primary" name="feed-next" id="feed-next">Next</button></a>
         </div>


         {% include (list_tweets.html) %}
      </div>
   </div>
   <div class="feed-trends col-md-3">
      <div class="panel panel-default trends-panel">
         {% include (info_box.html) %}
      </div>
   </div>


   </div>
   <div class="feed-sidebar col-md-3">
   </div>
</div>

</body>
</html>
