<html>
<head><title>Bitter</title></head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/maps.js"></script>
<script src="js/scripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLtOAK5mkzR8Kuu3zWokYW5mDSwZHChTw&libraries=places&callback=initAutocomplete" async defer></script>

<body class="clear-background">

{% include (loggedin_header.html) %}

<div class="feed-wrapper row">
   <div class="feed-trends col-md-3">
      {% include (profile_summary.html) %}
      <div class="panel panel-default trends-panel">
         <div class="panel-heading">
            <h3 class="panel-title">Trends</h3>
         </div>
         <div class="panel-body">
            John Smith <br>
            Tweets: <br>
            Following: <br>
         </div>
      </div>
   </div>
   <div class="feed-tweets col-md-6">
      <div class="panel panel-default suggestions-panel">
         <div class="panel-heading">
            <h3 class="panel-title">Account Settings</h3>
            <span class="grey-text">Change your basic account settings.</span>
         </div>
         {# include max-length things #}
         <div class="panel-body">
            <form method="post" id="settings-form" enctype="multipart/form-data" autocomplete="off">
               <input id="new_user" class="form-control settings-inputs" name="new_user" type="hidden" value="{{ myDetails|username }}">
               <label for="full_name" class="settings-control-label">Your name</label><input id="full_name" class="form-control settings-inputs" name="full_name" type="text" value="{{ myDetails|full_name }}">
               {{ errorMsgs|full_name }}
               <br><br>
               <label for="new_pass" class="settings-control-label">Password</label><input id="new_pass" class="form-control settings-inputs" name="new_pass" type="password" value="" placeholder="Enter a new password">
               {{ errorMsgs|password }}
               <br><br>
               <label for="description" class="settings-control-label">Description</label><textarea id="description" rows="4" class="form-control settings-inputs" name="description" type="text" value="" placeholder="Type in a few words about yourself">{{ myDetails|description }}</textarea>
               {{ errorMsgs|description }}
               <br><br>
               <label for="email" class="settings-control-label">Email</label><input id="email" class="form-control settings-inputs" name="email" type="text" value="{{ myDetails|email }}" data-toggle="tooltip" data-placement="top" title="If you change your email address, you will be required to verify it before you can log in again".>
               {{ errorMsgs|email }}
               <br><br>
               <div class="settings-checkboxes">
               {% if myDetails|notify_mention %}
                  <label for="notify_mention" class="settings-control-label">Notifications</label><input id="notify_mention" class="" name="notify_mention" type="checkbox" value="selected" checked>&nbsp;When mentioned<br>
               {% else %}
                  <label for="notify_mention" class="settings-control-label">Notifications</label><input id="notify_mention" class="" name="notify_mention" type="checkbox" value="selected">&nbsp;When mentioned<br>
               {% endif %}
               </div><br>
               <div class="settings-checkboxes">
               {% if myDetails|notify_reply %}
                  <label for="notify_reply" class="settings-control-label"></label><input id="notify_reply" class="" name="notify_reply" type="checkbox" value="selected" checked>&nbsp;When replied to<br>
               {% else %}
                  <label for="notify_reply" class="settings-control-label"></label><input id="notify_reply" class="" name="notify_reply" type="checkbox" value="selected">&nbsp;When replied to<br>
               {% endif %}
               </div><br>
               <div class="settings-checkboxes">
               {% if myDetails|notify_listen %}
                  <label for="notify_listen" class="settings-control-label"></label><input id="notify_listen" class="" name="notify_listen" type="checkbox" value="selected" checked>&nbsp;When gaining a new listener<br>
               {% else %}
                  <label for="notify_listen" class="settings-control-label"></label><input id="notify_listen" class="" name="notify_listen" type="checkbox" value="selected">&nbsp;When gaining a new listener<br>
               {% endif %}
               </div><br>
               <label for="profile_pic" class="settings-control-label">Profile Picture</label>
                  <img class="settings-avatar" src="{{ myDetails|avatar }}"><br><br>
                  <label for="profile_pic" class="settings-control-label"></label><input id="profile_pic" class="form-control settings-inputs" name="profile_pic" type="file" value="">
               {{ errorMsgs|profile_pic }}<br><br>

               <label for="bg_pic" class="settings-control-label">Background Picture</label>
                  <img class="settings-bg_pic" src="{{ myDetails|bg_pic }}"><br><br>
                  <label for="bg_pic" class="settings-control-label"></label><input id="bg_pic" class="form-control settings-inputs" name="bg_pic" type="file" value="">
               {{ errorMsgs|bg_pic }}

               <input id="home_location" class="form-control settings-inputs" name="home_location" type="search" value="{{ myDetails|home_suburb }}" style="margin-top: 10px; height: 30px;" placeholder="Enter your suburb" autocomplete="off"><br><br>

               <label for="location" class="settings-control-label" autocomplete="off">Home Location</label>
               <div id="map" style="height: 250px"></div>
               <input type="hidden" name="home_lat" id="home_lat" value="{{ myDetails|home_latitude }}">
               <input type="hidden" name="home_long" id="home_long" value="{{ myDetails|home_longitude }}">
               <br>
               {{ errorMsgs|location }}
   
               <label for="suspend-btn" class="settings-control-label"></label><button class="btn btn-warning" name="suspend-btn" id="suspend-btn">Suspend Your Account</button><br><br>
               <label for="delete-acc-btn" class="settings-control-label"></label><button class="btn btn-danger" name="delete-acc-btn" id="delete-acc-btn">Delete Your Account</button>
               
               <br><br>
               <button class="btn btn-primary sign_up-btn btn-load" name="settings-btn" id="settings-btn" value="submit">Update Settings</button>
            </form>


         </div>
      </div>
   </div>
   <div class="feed-trends col-md-3">
      <div class="panel panel-default trends-panel">
         {% include (info_box.html) %}
      </div>
   </div>


   </div>
   <div class="feed-sidebar col-md-3">
   </div>
</div>

</body>
</html>
