<html>
<head><title>Bitter</title></head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/maps.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLtOAK5mkzR8Kuu3zWokYW5mDSwZHChTw&libraries=places&callback=initAutocomplete" async defer></script>

<body class="clear-background">

<div class="nav-no-margin">
{% include (loggedin_header.html) %}
</div>
<div class="large-header-background" style="background: url({{ myDetails|bg_pic }}) repeat center;">

      <div class="col-md-3"></div>
      <div class="feed-tweets col-md-6">
         <div class="panel panel-default tweets-panel">
            {% for row in featuredBleat %}
               <div class="panel-body large-bleet-panel">
                  <div class="large-bleet-header">
                     <div class="large-bleet-avatar-wrapper">
                        <img class="large-bleet-avatar" src="{{ row|profile_pic }}">
                     </div>
                     <div class="large-user-text">
                        <a href="?page=user_page&user={{ row|username }}" style="font-size: 20px;"><b>{{ row|full_name }}</b></a>
                        <br><span class="grey-text" style="font-size: 16px;">@{{ row|username }}</span><br><br>
                        {% if loggedin_user %}
                        <a href="?page=delete&bleat_id={{ row|bleat_id }}"><button class="btn btn-primary btn-load">Delete this bleat</button></a>
                        {% elif following %}
                        <a href="?page=unlisten&user={{ myDetails|username }}"><button class="btn btn-primary btn-load">Unlisten {{ myDetails|full_name }}</button></a>
                        {% else %}
                        <a href="?page=followme&user={{ myDetails|username }}"><button class="btn btn-primary btn-load">Listen to {{ myDetails|full_name }}</button></a>
                        {% endif %}
                     </div>
                  </div>

                  <div class="large-bleet-text">
                     <input type="hidden" name="bleat_id" id="bleat_id" value="{{ row|bleat_id }}">
                     {{ row|bleat }}
                     {% if row|files %}
                        <br><br>
                        {% if row|media_type == "images" %}
                        <div class="carousel slide" data-ride="carousel" id="bleet_carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#bleet_carousel" data-slide-to="0" class="active"></li>
                            {% if row|file_2 %}
                            <li data-target="#bleet_carousel" data-slide-to="1"></li>
                            {% endif %}
                            {% if row|file_3 %}
                            <li data-target="#bleet_carousel" data-slide-to="2"></li>
                            {% endif %}
                            {% if row|file_4 %}
                            <li data-target="#bleet_carousel" data-slide-to="3"></li>
                            {% endif %}
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <a href="{{ row|file_1 }}" target=_blank><img class="large-bleat-img" src="{{ row|file_1 }}"></a>
                            </div>
                            {% if row|file_2 %}
                            <div class="item">
                              <a href="{{ row|file_2 }}" target=_blank><img class="large-bleat-img" src="{{ row|file_2 }}"></a>
                            </div>
                            {% endif %}
                            {% if row|file_3 %}
                            <div class="item">
                              <a href="{{ row|file_3 }}" target=_blank><img class="large-bleat-img" src="{{ row|file_3 }}"></a>
                            </div>
                            {% endif %}
                            {% if row|file_4 %}
                            <div class="item">
                              <a href="{{ row|file_4 }}" target=_blank><img class="large-bleat-img" src="{{ row|file_4 }}"></a>
                            </div>
                            {% endif %}
                          </div>

                          <!-- Controls -->
                          <a class="left carousel-control" href="#bleet_carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#bleet_carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                        {% else %}
                        <div class="large-bleet-video-wrapper">
                           <video controls style="max-width: 100%;">
                               <source src="{{ row|file_1 }}" type="video/mp4">
                               Your browser does not support the video tag.
                            </video>
                         </div>
                        {% endif %}
                     {% endif %}
                     {% if row|hasLocation %}
                        <br>
                        <div id="map" style="height: 250px"></div>
                        <input type="hidden" name="home_long" id="home_long" value="{{ row|longitude }}">
                        <input type="hidden" name="home_lat" id="home_lat" value="{{ row|latitude }}">
                     {% endif %}
                  </div>
               <br>
               <span class="grey-text">{{ row|time }}</span>
               </div>
            {% endfor %}
         </div>
         <div class="panel panel-default tweets-panel">
            <div class="panel-heading">
               <h3 class="panel-title">Reply to this bleat</h3>
            </div>
            <form method="post" id="new-tweet" enctype=multipart/form-data style="padding: 20px;" action="?page=feed">
               <div class="input-group">
                 <textarea rows="1" class="form-control" name="new-tweet" id="new-tweet" placeholder="Why so bitter?">@{{ myDetails|username }} </textarea>
                 <div class="tweet-submit row">
                    <div class="col-md-8">
                       <button class="btn btn-primary" name="location-btn" id="location-btn">Add Location</button>
                       <input type="file" name="tweet-media" id="tweet-media" multiple>
                       <input type="hidden" name="tweet-lat" id="tweet-lat" value="">
                       <input type="hidden" name="tweet-long" id="tweet-long" value="">
                       <input type="hidden" name="in-reply-to" id="in-reply-to" value="{{ targetBleat }}">
                    </div>
                    <div class="col-md-4 tweet-btn">
                       <div class="char-count" name="char-count">140</div>
                       <button type="submit" class="btn btn-primary btn-load" name="tweet-btn" id="tweet-btn" value="submit">Bleat</button>
                    </div>
                 </div>
               </div>
            </form>
         </div>
         {% if bleat_replies %}
         <div class="panel panel-default tweets-panel">
            <div class="panel-heading">
               <h3 class="panel-title">In reply to...</h3>
            </div>
            <div class="feed-pagination">
               <a href="?page=bleat_page&bleat_id={{ targetBleat }}&num={{ prev_page }}"><button class="btn btn-primary" name="feed-prev" id="feed-prev">Prev</button></a>
               <a href="?page=bleat_page&bleat_id={{ targetBleat }}&num={{ next_page }}"><button class="btn btn-primary" name="feed-next" id="feed-next">Next</button></a>
            </div>
            {% include (list_tweets.html) %}
         </div>
         {% endif %}

      <div class="col-md-3"></div>
   </div>
</div>

</body>
</html>
