<html>
<head><title>Bitter</title></head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLtOAK5mkzR8Kuu3zWokYW5mDSwZHChTw&libraries=places&callback=initAutocomplete" async defer></script>

<body class="clear-background">
{% include (loggedout_header.html) %}

<div class="feed-wrapper row">
   <div class="feed-trends col-md-3">
   </div>
   <div class="feed-tweets col-md-6">
      <div class="panel panel-default suggestions-panel">
         <div class="panel-heading">
            <h3 class="panel-title">Login error</h3>
         </div>
         <div class="panel-body">
            Looks like you got a little lost there.
            <a href="?page=home">Click here</a> to return home.
         </div>
      </div>
   </div>
   <div class="feed-trends col-md-3">
   </div>


   </div>
</div>

</body>
</html>
