<html>
<head><title>Bitter</title></head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<body class="clear-background">

{% include (loggedin_header.html) %}

<div class="feed-wrapper row">
   <div class="feed-trends col-md-3">
      {% include (profile_summary.html) %}
   </div>
   <div class="feed-tweets col-md-6">
      <div class="panel panel-default tweets-panel">
         <div class="panel-heading">
            <form method="post" id="new-tweet" enctype=multipart/form-data>
               <div class="input-group">
                 <textarea rows="1" class="form-control" name="new-tweet" id="new-tweet" placeholder="Why so bitter?"></textarea>
                 <div class="tweet-submit row">
                    <div class="col-md-8">
                       <button class="btn btn-primary" name="location-btn" id="location-btn">Add Location</button>
                       <input type="file" name="tweet-media" id="tweet-media" multiple>
                       <input type="hidden" name="tweet-lat" id="tweet-lat" value="">
                       <input type="hidden" name="tweet-long" id="tweet-long" value="">
                       <input type="hidden" name="in-reply-to" id="in-reply-to" value="">
                    </div>
                    <div class="col-md-4 tweet-btn">
                       <div class="char-count" name="char-count">140</div>
                       <button type="submit" class="btn btn-primary btn-load" name="tweet-btn" id="tweet-btn" value="submit">Bleet</button>
                    </div>
                 </div>
               </div>
            </form>
            {{ errorMsgs|new-tweet }}
            {{ errorMsgs|tweet-location }}
            {{ errorMsgs|tweet-media }}
            {{ errorMsgs|in-reply-to }}
         </div>
         <div class="feed-pagination">
            <a href="?page=feed&num={{ prev_page }}"><button class="btn btn-primary" name="feed-prev" id="feed-prev">Prev</button></a>
            <a href="?page=feed&num={{ next_page }}"><button class="btn btn-primary" name="feed-next" id="feed-next">Next</button></a>
         </div>
         {% include (list_tweets.html) %}
      </div>
   </div>
   <div class="feed-trends col-md-3">
      <div class="panel panel-default trends-panel">
         {% include (info_box.html) %}
      </div>
   </div>


   </div>
   <div class="feed-sidebar col-md-3">
   </div>
</div>

</body>
</html>
