<html>
<head><title>Bitter</title></head>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<body class="clear-background">

{% include (loggedin_header.html) %}
<div class="large-header-background" style="background: url({{ myDetails|bg_pic }}) no-repeat center; height: 360px; background-size: cover; margin-bottom: 20px;"></div>

<div class="feed-wrapper row">
   <div class="feed-trends col-md-3">
      {% include (public_profile_summary.html) %}
      {% if loggedin_user %}
      {# cannot listen to yourself #}
      {% elif following %}
      <a href="?page=unlisten&user={{ myDetails|username }}"><button class="btn btn-primary btn-load" name="big-follow-btn" id="big-follow-btn">Unlisten {{ myDetails|full_name }}</button></a><br><br>
      {% else %}
      <a href="?page=followme&user={{ myDetails|username }}"><button class="btn btn-primary btn-load" name="big-follow-btn" id="big-follow-btn">Listen to {{ myDetails|full_name }}</button></a><br><br>
      {% endif %}
   </div>
   <div class="feed-tweets col-md-6">
      <div class="panel panel-default tweets-panel">
         <div class="panel-heading">
            <h3 class="panel-title">Bleets</h3>
         </div>
         <div class="feed-pagination">
            <a href="?page=user_page&user={{ myDetails|username }}&num={{ prev_page }}"><button class="btn btn-primary" name="feed-prev" id="feed-prev">Prev</button></a>
            <a href="?page=user_page&user={{ myDetails|username }}&num={{ next_page }}"><button class="btn btn-primary" name="feed-next" id="feed-next">Next</button></a>
         </div>
         {% include (list_tweets.html) %}
      </div>
   </div>
   <div class="feed-trends col-md-3">
      <div class="panel panel-default trends-panel">
         {% include (info_box.html) %}
      </div>
   </div>


   </div>
   <div class="feed-sidebar col-md-3">
   </div>
</div>

</body>
</html>
